In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://www.worldometers.info/world-population/population-by-country/'

In [3]:
page = requests.get(url)

In [4]:
soup = BeautifulSoup(page.text, 'html')

In [5]:
soup.find_all('span')

[<span class="truncate hidden md:block"> English </span>,
 <span class="truncate hidden md:block"> English </span>,
 <span><br/></span>,
 <span><br/></span>,
 <span>#</span>,
 <span>Country (or dependency)</span>,
 <span>Population 2025</span>,
 <span>Yearly Change</span>,
 <span>Net Change</span>,
 <span>Density (P/KmÂ²)</span>,
 <span>Land Area (KmÂ²)</span>,
 <span>Migrants (net)</span>,
 <span>Fert. Rate</span>,
 <span>Median Age</span>,
 <span>Urban Pop %</span>,
 <span>World Share</span>]

In [6]:
titles = soup.find_all('span')
title = [title.text.strip() for title in titles]
title

['English',
 'English',
 '',
 '',
 '#',
 'Country (or dependency)',
 'Population 2025',
 'Yearly Change',
 'Net Change',
 'Density (P/KmÂ²)',
 'Land Area (KmÂ²)',
 'Migrants (net)',
 'Fert. Rate',
 'Median Age',
 'Urban Pop %',
 'World Share']

In [7]:
filtered_titles = [item for item in title if item not in ['', '#', 'English']]
filtered_titles

['Country (or dependency)',
 'Population 2025',
 'Yearly Change',
 'Net Change',
 'Density (P/KmÂ²)',
 'Land Area (KmÂ²)',
 'Migrants (net)',
 'Fert. Rate',
 'Median Age',
 'Urban Pop %',
 'World Share']

In [12]:
rows = soup.find_all('tr')[1:]

In [19]:
row_draft = [title.text.strip() for title in rows]
row_draft

['1  India  1,463,865,525  0.89%  12,929,734  492  2,973,190  â\x88\x92495,753  1.94  28.8  37.1%  17.78%',
 '2  China  1,416,096,094  â\x88\x920.23%  â\x88\x923,225,184  151  9,388,211  â\x88\x92268,126  1.02  40.1  67.5%  17.20%',
 '3  United States  347,275,807  0.54%  1,849,236  38  9,147,420  1,230,663  1.62  38.5  82.8%  4.22%',
 '4  Indonesia  285,721,236  0.79%  2,233,305  158  1,811,570  â\x88\x9239,509  2.1  30.4  59.6%  3.47%',
 '5  Pakistan  255,219,554  1.57%  3,950,390  331  770,880  â\x88\x921,235,336  3.5  20.6  34.4%  3.10%',
 '6  Nigeria  237,527,782  2.08%  4,848,304  261  910,770  â\x88\x9215,258  4.3  18.1  54.9%  2.89%',
 '7  Brazil  212,812,405  0.38%  813,832  25  8,358,140  â\x88\x92217,283  1.6  34.8  91.4%  2.59%',
 '8  Bangladesh  175,686,899  1.22%  2,124,535  1,350  130,170  â\x88\x92402,100  2.11  26  42.6%  2.13%',
 '9  Russia  143,997,393  â\x88\x920.57%  â\x88\x92823,030  9  16,376,870  â\x88\x92251,822  1.47  40.3  75%  1.75%',
 '10  Ethiopia  135,472,051  2.58%  3,412,284  135  1,000,000  24,054  3.81  19.1  22.5%  1.65%',
 '11  Mexico  131,946,900  0.83%  1,085,893  68  1,943,950  â\x88\x92108,037  1.87  29.6  87.9%  1.60%',
 '12  Japan  123,103,479  â\x88\x920.52%  â\x88\x92649,562  338  364,555  140,579  1.23  49.8  93.1%  1.50%',
 '13  Egypt  118,365,995  1.57%  1,827,737  119  995,450  â\x88\x9257,305  2.71  24.5  40.9%  1.44%',
 '14  Philippines  116,786,962  0.81%  943,292  392  298,170  â\x88\x92149,315  1.88  26.1  49.3%  1.42%',
 '15  DR Congo  112,832,473  3.25%  3,556,208  50  2,267,050  â\x88\x9227,309  5.9  15.8  45%  1.37%',
 '16  Vietnam  101,598,527  0.6%  610,841  328  310,070  â\x88\x9248,171  1.88  33.4  41.4%  1.23%',
 '17  Iran  92,417,681  0.93%  849,943  57  1,628,550  116,786  1.67  34  73.3%  1.12%',
 '18  Turkey  87,685,426  0.24%  211,621  114  769,630  â\x88\x92258,205  1.62  33.5  76.9%  1.07%',
 '19  Germany  84,075,075  â\x88\x920.56%  â\x88\x92477,167  241  348,560  â\x88\x92334,072  1.46  45.5  76.5%  1.02%',
 '20  Thailand  71,619,863  â\x88\x920.07%  â\x88\x9248,148  140  510,890  27,509  1.2  40.6  53.5%  0.87%',
 '21  Tanzania  70,545,865  2.9%  1,985,708  80  885,800  â\x88\x9212,730  4.47  17.5  40%  0.86%',
 '22  United Kingdom  69,551,332  0.6%  413,140  287  241,930  389,911  1.54  40.1  84.5%  0.84%',
 '23  France  66,650,804  0.15%  102,274  122  547,557  91,737  1.64  42.3  82.5%  0.81%',
 '24  South Africa  64,747,319  1.16%  740,132  53  1,213,090  146,370  2.19  28.7  66.6%  0.79%',
 '25  Italy  59,146,260  â\x88\x920.33%  â\x88\x92196,607  201  294,140  75,448  1.21  48.2  72%  0.72%',
 '26  Kenya  57,532,493  1.95%  1,099,549  101  569,140  â\x88\x9227,330  3.12  20  31.9%  0.70%',
 '27  Myanmar  54,850,648  0.64%  350,557  84  653,290  â\x88\x9239,661  2.08  30.1  34.1%  0.67%',
 '28  Colombia  53,425,635  1.02%  539,272  48  1,109,500  129,139  1.62  32.5  80.5%  0.65%',
 '29  South Korea  51,667,029  â\x88\x920.1%  â\x88\x9250,561  531  97,230  65,731  0.75  45.6  82.4%  0.63%',
 '30  Sudan  51,662,147  2.4%  1,213,184  29  1,765,048  291,469  4.19  18.5  35.3%  0.63%',
 '31  Uganda  51,384,894  2.74%  1,369,802  257  199,810  â\x88\x92119,059  4.06  16.9  30%  0.62%',
 '32  Spain  47,889,958  â\x88\x920.04%  â\x88\x9220,568  96  498,800  96,630  1.23  45.9  79.3%  0.58%',
 '33  Algeria  47,435,312  1.33%  621,004  20  2,381,740  â\x88\x9227,531  2.67  28.6  74.4%  0.58%',
 '34  Iraq  47,020,774  2.13%  978,759  108  434,320  â\x88\x921,064  3.17  20.8  72.4%  0.57%',
 '35  Argentina  45,851,378  0.34%  155,219  17  2,736,690  2,859  1.5  32.9  96%  0.56%',
 '36  Afghanistan  43,844,111  2.81%  1,196,619  67  652,860  â\x88\x9274,404  4.66  17.3  26.7%  0.53%',
 '37  Yemen  41,773,878  2.93%  1,190,714  79  527,970  â\x88\x9216,291  4.41  18.4  33%  0.51%',
 '38  Canada  40,126,723  0.97%  384,293  4  9,093,510  326,204  1.33  40.6  80.2%  0.49%',
 '39  Angola  39,040,039  3.05%  1,154,190  31  1,246,700  â\x88\x923,524  4.95  16.6  68.8%  0.47%',
 '40  Ukraine  38,980,376  2.96%  1,120,155  67  579,320  1,702,358  1  41.8  76.8%  0.47%',
 '41  Morocco  38,430,770  0.92%  349,597  86  446,300  â\x88\x9256,254  2.18  29.8  67.3%  0.47%',
 '42  Poland  38,140,910  â\x88\x921.03%  â\x88\x92398,291  125  306,230  â\x88\x92330,820  1.31  42.5  59.2%  0.46%',
 '43  Uzbekistan  37,053,428  1.9%  691,569  87  425,400  â\x88\x926,987  3.45  27  48.1%  0.45%',
 '44  Malaysia  35,977,838  1.18%  420,165  110  328,550  166,615  1.53  31  77.4%  0.44%',
 '45  Mozambique  35,631,653  2.89%  999,887  45  786,380  â\x88\x9265,573  4.62  16.5  41.6%  0.43%',
 '46  Ghana  35,064,272  1.85%  636,858  154  227,540  â\x88\x9217,079  3.3  21.3  58.6%  0.43%',
 '47  Peru  34,576,665  1.05%  358,817  27  1,280,000  11,931  1.94  30.2  80.6%  0.42%',
 '48  Saudi Arabia  34,566,328  1.78%  603,571  16  2,149,690  119,738  2.29  29.6  92.1%  0.42%',
 '49  Madagascar  32,740,678  2.43%  775,722  56  581,795  â\x88\x922,227  3.85  19.2  40.3%  0.40%',
 "50  CÃ´te d'Ivoire  32,711,547  2.43%  777,317  103  318,000  11,305  4.17  18.3  49%  0.40%",
 '51  Cameroon  29,879,337  2.59%  755,593  63  472,710  â\x88\x9215,379  4.18  18  59.4%  0.36%',
 '52  Nepal  29,618,118  â\x88\x920.11%  â\x88\x9232,936  207  143,350  â\x88\x92364,699  1.94  25.3  24.5%  0.36%',
 '53  Venezuela  28,516,896  0.39%  111,353  32  882,050  â\x88\x92100,467  2.06  29.4   0.35%',
 '54  Niger  27,917,831  3.28%  885,419  22  1,266,700  â\x88\x927,704  5.79  15.6  18.2%  0.34%',
 '55  Australia  26,974,026  0.98%  260,821  4  7,682,300  137,109  1.64  38.3  86.5%  0.33%',
 '56  North Korea  26,571,036  0.27%  72,213  221  120,410  â\x88\x922,787  1.77  36.5  63.3%  0.32%',
 '57  Syria  25,620,427  3.84%  947,667  140  183,630  421,693  2.66  23.3  53.6%  0.31%',
 '58  Mali  25,198,821  2.94%  720,226  21  1,220,190  â\x88\x9248,019  5.42  15.7  44.4%  0.31%',
 '59  Burkina Faso  24,074,580  2.23%  525,799  88  273,600  â\x88\x9227,130  4  17.7  33.7%  0.29%',
 '60  Sri Lanka  23,229,470  0.54%  125,905  370  62,710  â\x88\x9230,724  1.94  33.3  18.1%  0.28%',
 '61  Taiwan  23,112,793  â\x88\x920.44%  â\x88\x92101,169  653  35,410  â\x88\x9220,947  0.86  44.8  84%  0.28%',
 '62  Malawi  22,216,120  2.59%  560,834  236  94,280  â\x88\x925,628  3.53  18.1  19.8%  0.27%',
 '63  Zambia  21,913,874  2.81%  598,918  29  743,390  6,562  3.97  17.9  46.8%  0.27%',
 '64  Chad  21,003,705  3.47%  704,582  17  1,259,200  â\x88\x92123,104  5.94  15.8  22.4%  0.26%',
 '65  Kazakhstan  20,843,754  1.22%  251,183  8  2,699,700  â\x88\x928,834  2.95  29.7  55.1%  0.25%',
 '66  Chile  19,859,921  0.48%  95,150  27  743,532  51,712  1.13  36.9  84.8%  0.24%',
 '67  Somalia  19,654,739  3.4%  645,588  31  627,340  12,077  5.91  15.6  46.6%  0.24%',
 '68  Senegal  18,931,966  2.32%  429,982  98  192,530  â\x88\x9212,636  3.71  19.6  52.3%  0.23%',
 '69  Romania  18,908,650  â\x88\x920.56%  â\x88\x92106,438  82  230,170  â\x88\x9229,041  1.71  43.2  55.2%  0.23%',
 '70  Guatemala  18,687,881  1.53%  281,522  174  107,160  â\x88\x927,959  2.26  23.4  56.6%  0.23%',
 '71  Netherlands  18,346,819  0.65%  118,077  544  33,720  104,681  1.44  41.5  88.9%  0.22%',
 '72  Ecuador  18,289,896  0.85%  154,418  74  248,360  â\x88\x9217,219  1.79  29.3  66%  0.22%',
 '73  Cambodia  17,847,982  1.19%  209,181  101  176,520  â\x88\x9231,469  2.51  26.2  26.5%  0.22%',
 '74  Zimbabwe  16,950,795  1.9%  316,422  44  386,850  â\x88\x9254,555  3.62  18.1  37.9%  0.21%',
 '75  Guinea  15,099,727  2.34%  344,942  61  245,720  â\x88\x9216,282  4.04  18.3  40.3%  0.18%',
 '76  Benin  14,814,460  2.43%  351,736  131  112,760  â\x88\x927,847  4.42  18  47.8%  0.18%',
 '77  Rwanda  14,569,341  2.19%  312,774  591  24,670  6,282  3.59  19.9  18.3%  0.18%',
 '78  Burundi  14,390,003  2.44%  342,217  560  25,680  â\x88\x9234,727  4.67  16.4  14.9%  0.17%',
 '79  Bolivia  12,581,843  1.36%  168,528  12  1,083,300  â\x88\x923,179  2.5  25.2  70.6%  0.15%',
 '80  Tunisia  12,348,573  0.58%  71,464  79  155,360  â\x88\x9214,523  1.8  32.9  71.7%  0.15%',
 '81  South Sudan  12,188,788  2.05%  245,380  20  610,952  6,145  3.71  18.7  27.7%  0.15%',
 '82  Haiti  11,906,095  1.13%  133,538  432  27,560  â\x88\x9232,052  2.59  24.1  61.7%  0.14%',
 '83  Belgium  11,758,603  0.17%  19,840  388  30,280  31,989  1.39  41.9  98.8%  0.14%',
 '84  Jordan  11,520,684  â\x88\x920.28%  â\x88\x9232,192  130  88,780  â\x88\x92303,267  2.57  24.7  85.1%  0.14%',
 '85  Dominican Republic  11,520,487  0.81%  92,930  238  48,320  â\x88\x9235,306  2.19  28.3  86.4%  0.14%',
 '86  United Arab Emirates  11,346,000  2.89%  318,871  136  83,600  158,634  1.21  31.6  81.1%  0.14%',
 '87  Honduras  11,005,850  1.66%  180,147  98  111,890  â\x88\x924,778  2.45  24.2  58.3%  0.13%',
 '88  Cuba  10,937,203  â\x88\x920.39%  â\x88\x9242,580  103  106,440  â\x88\x9222,244  1.45  42.2  81.9%  0.13%',
 '89  Tajikistan  10,786,734  1.85%  195,807  77  139,960  â\x88\x9221,606  2.99  22.2  27.7%  0.13%',
 '90  Papua New Guinea  10,762,817  1.76%  186,315  24  452,860  â\x88\x92284  3.03  22.8  12.6%  0.13%',
 '91  Sweden  10,656,633  0.47%  49,634  26  410,340  47,079  1.44  40.3  87.4%  0.13%',
 '92  Czech Republic (Czechia)  10,609,239  â\x88\x921.18%  â\x88\x92126,620  137  77,240  â\x88\x92112,188  1.47  43.8  75%  0.13%',
 '93  Portugal  10,411,834  â\x88\x920.13%  â\x88\x9213,458  114  91,590  16,472  1.52  46.9  66.5%  0.13%',
 '94  Azerbaijan  10,397,713  0.59%  61,136  126  82,658  8,731  1.67  33.6  58.7%  0.13%',
 '95  Greece  9,938,844  â\x88\x921.08%  â\x88\x92108,973  77  128,900  16,636  1.34  46.8  89.5%  0.12%',
 '96  Togo  9,721,608  2.17%  206,372  179  54,390  â\x88\x9215,010  4.07  19.1  44.2%  0.12%',
 '97  Hungary  9,632,287  â\x88\x920.45%  â\x88\x9243,848  106  90,530  â\x88\x9216,331  1.5  43.9  72%  0.12%',
 '98  Israel  9,517,181  1.39%  130,160  440  21,640  11,466  2.75  29.2  91.4%  0.12%',
 '99  Austria  9,113,574  â\x88\x920.08%  â\x88\x927,239  111  82,409  11,254  1.33  43.6  58.6%  0.11%',
 '100  Belarus  8,997,603  â\x88\x920.65%  â\x88\x9259,093  44  202,910  â\x88\x923,020  1.23  41.3  84.4%  0.11%',
 '101  Switzerland  8,967,407  0.51%  45,426  227  39,516  37,253  1.44  42.9  74.4%  0.11%',
 '102  Sierra Leone  8,819,794  2.06%  177,772  122  72,180  â\x88\x9211,309  3.61  19.7  45.5%  0.11%',
 '103  Laos  7,873,046  1.33%  103,227  34  230,800  â\x88\x9210,645  2.36  24.9  38.3%  0.096%',
 '104  Turkmenistan  7,618,847  1.66%  124,349  16  469,930  13,268  2.63  26.9  46.5%  0.093%',
 '105  Libya  7,458,555  1.05%  77,532  4  1,759,540  â\x88\x92172  2.25  27.7  77.5%  0.091%',
 '106  Hong Kong  7,396,076  â\x88\x920.25%  â\x88\x9218,833  7,044  1,050  17,863  0.73  47.4   0.090%',
 '107  Kyrgyzstan  7,295,034  1.52%  109,025  38  191,800  1,815  2.75  25.4  35.3%  0.089%',
 '108  Paraguay  7,013,078  1.21%  83,925  18  397,300  â\x88\x9212,423  2.4  27  68%  0.085%',
 '109  Nicaragua  7,007,502  1.32%  91,362  58  120,340  â\x88\x928,371  2.18  26  58.1%  0.085%',
 '110  Bulgaria  6,714,560  â\x88\x920.64%  â\x88\x9243,129  62  108,560  â\x88\x922,961  1.74  44.8  77.1%  0.082%',
 '111  Serbia  6,689,039  â\x88\x920.7%  â\x88\x9247,177  76  87,460  â\x88\x9213,086  1.5  44.4  73.6%  0.081%',
 '112  Congo  6,484,437  2.39%  151,476  19  341,500  â\x88\x922,999  4.05  18.6  69.8%  0.079%',
 '113  El Salvador  6,365,503  0.43%  27,310  307  20,720  â\x88\x9223,934  1.75  27.9  79.9%  0.077%',
 '114  Denmark  6,002,507  0.42%  25,095  141  42,430  22,103  1.52  41.3  87.4%  0.073%',
 '115  Singapore  5,870,750  0.66%  38,363  8,387  700  16,892  0.96  36.2   0.071%',
 '116  Lebanon  5,849,421  0.75%  43,459  572  10,230  â\x88\x9210,230  2.21  28.8  86%  0.071%',
 '117  Liberia  5,731,206  2.11%  118,389  60  96,320  â\x88\x929,870  3.79  18.8  55%  0.070%',
 '118  Finland  5,623,329  0.11%  6,019  19  303,890  18,246  1.3  43.2  86.7%  0.068%',
 '119  Norway  5,623,071  0.83%  46,411  15  365,268  29,798  1.42  39.8  85.9%  0.068%',
 '120  State of Palestine  5,589,623  1.71%  94,180  929  6,020  â\x88\x9223,156  3.19  20.1  84.2%  0.068%',
 '121  Central African Republic  5,513,282  3.43%  182,592  9  622,980  â\x88\x9214,693  5.81  14.5  44.5%  0.067%',
 '122  Oman  5,494,691  4.04%  213,153  18  309,500  113,734  2.48  29.7  90.8%  0.067%',
 '123  Slovakia  5,474,881  â\x88\x920.58%  â\x88\x9231,879  114  48,088  â\x88\x9231,377  1.57  42.3  54%  0.067%',
 '124  Mauritania  5,315,065  2.82%  145,670  5  1,030,700  â\x88\x925,044  4.56  17.4  60.3%  0.065%',
 '125  Ireland  5,308,039  1.01%  53,022  77  68,890  35,417  1.6  39  62.1%  0.064%',
 '126  New Zealand  5,251,899  0.73%  37,955  20  263,310  17,403  1.65  37.7  83.6%  0.064%',
 '127  Costa Rica  5,152,950  0.45%  23,040  101  51,060  1,000  1.31  35.2  85.2%  0.063%',
 '128  Kuwait  5,026,078  1.86%  91,571  282  17,820  42,775  1.5  34.8  91.6%  0.061%',
 '129  Panama  4,571,189  1.23%  55,612  61  74,340  6,151  2.09  30.3  70.7%  0.056%',
 '130  Croatia  3,848,160  â\x88\x920.7%  â\x88\x9227,165  69  55,960  â\x88\x923,481  1.47  45.3  61.7%  0.047%',
 '131  Georgia  3,806,671  â\x88\x920.03%  â\x88\x92999  55  69,490  1,283  1.79  37.3  62%  0.046%',
 '132  Eritrea  3,607,003  2.02%  71,400  36  101,000  â\x88\x926,698  3.61  19.2  74.8%  0.044%',
 '133  Mongolia  3,517,100  1.2%  41,560  2  1,553,560  79  2.58  26.9  67.2%  0.043%',
 '134  Uruguay  3,384,688  â\x88\x920.06%  â\x88\x921,900  19  175,020  â\x88\x921,338  1.39  36.4   0.041%',
 '135  Puerto Rico  3,235,289  â\x88\x920.21%  â\x88\x926,915  365  8,870  5,495  0.94  45.8   0.039%',
 '136  Bosnia and Herzegovina  3,140,095  â\x88\x920.76%  â\x88\x9224,158  62  51,000  â\x88\x926,994  1.5  45.7  56.3%  0.038%',
 '137  Qatar  3,115,889  2.21%  67,466  268  11,610  36,288  1.7  33.5  96.6%  0.038%',
 '138  Namibia  3,092,816  2.07%  62,685  4  823,290  1,866  3.17  21.3  54.4%  0.038%',
 '139  Moldova  2,996,106  â\x88\x921.28%  â\x88\x9238,855  91  32,850  â\x88\x9229,766  1.72  38.6  57.7%  0.036%',
 '140  Armenia  2,952,365  â\x88\x920.72%  â\x88\x9221,475  104  28,470  â\x88\x9229,013  1.71  36.6  63.8%  0.036%',
 '141  Jamaica  2,837,077  â\x88\x920.07%  â\x88\x922,098  262  10,830  â\x88\x9211,053  1.34  32.8  60.2%  0.034%',
 '142  Lithuania  2,830,144  â\x88\x921.01%  â\x88\x9228,966  45  62,674  â\x88\x9224,618  1.22  42.3  68.2%  0.034%',
 '143  Gambia  2,822,093  2.25%  62,105  279  10,120  â\x88\x922,984  3.8  18.6  61.3%  0.034%',
 '144  Albania  2,771,508  â\x88\x920.73%  â\x88\x9220,257  101  27,400  â\x88\x9224,230  1.33  37.3  70.3%  0.034%',
 '145  Gabon  2,593,130  2.13%  54,178  10  257,670  1,116  3.54  21.5  83.7%  0.032%',
 '146  Botswana  2,562,122  1.63%  40,983  5  566,730  â\x88\x925,665  2.66  23.4  75.6%  0.031%',
 '147  Lesotho  2,363,325  1.11%  25,902  78  30,360  â\x88\x925,192  2.64  21.8  32.8%  0.029%',
 '148  Guinea-Bissau  2,249,515  2.19%  48,163  80  28,120  â\x88\x921,373  3.68  19.4  46.2%  0.027%',
 '149  Slovenia  2,117,072  â\x88\x920.08%  â\x88\x921,625  105  20,140  2,711  1.58  44.6  55.7%  0.026%',
 '150  Equatorial Guinea  1,938,431  2.43%  45,915  69  28,050  3,812  4.04  20.9  63.6%  0.024%',
 '151  Latvia  1,853,559  â\x88\x920.98%  â\x88\x9218,312  30  62,200  â\x88\x927,330  1.35  43.6  67.5%  0.023%',
 '152  North Macedonia  1,813,791  â\x88\x920.51%  â\x88\x929,218  72  25,220  â\x88\x925,645  1.47  41  69.4%  0.022%',
 '153  Bahrain  1,643,332  2.26%  36,283  2,162  760  18,128  1.78  33.4   0.020%',
 '154  Trinidad and Tobago  1,511,155  0.22%  3,373  295  5,130  691  1.52  37.7  49.1%  0.018%',
 '155  Timor-Leste  1,418,517  1.28%  17,879  95  14,870  â\x88\x922,550  2.56  21.7  36%  0.017%',
 '156  Cyprus  1,370,754  0.92%  12,472  148  9,240  7,749  1.37  38.6  61.1%  0.017%',
 '157  Estonia  1,344,232  â\x88\x921.2%  â\x88\x9216,314  32  42,390  â\x88\x9213,350  1.38  42.8  66.9%  0.016%',
 '158  Mauritius  1,268,280  â\x88\x920.23%  â\x88\x922,889  625  2,030  â\x88\x922,784  1.21  37.8  41.5%  0.015%',
 '159  Eswatini  1,256,174  1.07%  13,352  73  17,200  â\x88\x925,775  2.68  22.5  31.3%  0.015%',
 '160  Djibouti  1,184,076  1.31%  15,354  51  23,180  â\x88\x92581  2.58  24.9  71.3%  0.014%',
 '161  Fiji  933,154  0.47%  4,370  51  18,270  â\x88\x923,288  2.25  28.1  60.8%  0.011%',
 '162  Comoros  882,847  1.87%  16,219  474  1,861  â\x88\x922,127  3.76  20.6  33.6%  0.011%',
 '163  RÃ©union  882,405  0.43%  3,814  353  2,500  â\x88\x922,585  2.13  38.1   0.011%',
 '164  Solomon Islands  838,645  2.37%  19,447  30  27,990  1,631  3.46  20.7  22.8%  0.010%',
 '165  Guyana  835,986  0.59%  4,899  4  196,850  â\x88\x925,092  2.37  26.2  26.6%  0.010%',
 '166  Bhutan  796,682  0.65%  5,158  21  38,117  455  1.44  30.5  50.3%  0.0097%',
 '167  Macao  722,007  0.24%  1,745  24,067  30  â\x88\x92328  0.69  39.6  97.1%  0.0088%',
 '168  Luxembourg  680,453  1.1%  7,417  263  2,590  5,237  1.4  39.5  87.2%  0.0083%',
 '169  Suriname  639,850  0.85%  5,419  4  156,000  â\x88\x92967  2.21  28.6  62.4%  0.0078%',
 '170  Montenegro  632,729  â\x88\x920.9%  â\x88\x925,750  47  13,450  â\x88\x929,279  1.79  40  68.7%  0.0077%',
 '171  Western Sahara  600,904  1.76%  10,398  2  266,000  5,030  2.15  32.6  97%  0.0073%',
 '172  Malta  545,405  1.07%  5,798  1,704  320  5,161  1.11  41.1  76.5%  0.0066%',
 '173  Maldives  529,676  0.36%  1,877  1,766  300  â\x88\x922,283  1.55  32.7  39.6%  0.0064%',
 '174  Cabo Verde  527,326  0.47%  2,449  131  4,030  â\x88\x921,284  1.5  29  78.6%  0.0064%',
 '175  Brunei   466,330  0.78%  3,609  88  5,270  0  1.71  32.7  80.1%  0.0057%',
 '176  Belize  422,924  1.4%  5,852  19  22,810  360  2.01  26.9  48.6%  0.0051%',
 '177  Bahamas  403,033  0.44%  1,750  40  10,010  935  1.36  35.3  88.4%  0.0049%',
 '178  Iceland  398,266  1.24%  4,870  4  100,250  2,709  1.5  36.2  84%  0.0048%',
 '179  Guadeloupe  373,791  â\x88\x920.35%  â\x88\x921,315  221  1,690  â\x88\x921,587  2.05  47.2   0.0045%',
 '180  Martinique  340,439  â\x88\x920.8%  â\x88\x922,756  321  1,060  â\x88\x922,491  1.97  49.7   0.0041%',
 '181  Mayotte  337,011  3.22%  10,506  899  375  44  4.5  17.1  41.4%  0.0041%',
 '182  Vanuatu  335,169  2.26%  7,392  27  12,190  â\x88\x9252  3.53  20.3  25.4%  0.0041%',
 '183  French Guiana  313,666  1.67%  5,144  4  82,200  â\x88\x92909  3.29  25  94.5%  0.0038%',
 '184  New Caledonia  295,333  0.92%  2,694  16  18,280  440  1.95  34.5  75.7%  0.0036%',
 '185  Barbados  282,623  0.06%  156  657  430  â\x88\x9287  1.71  39.4  32.5%  0.0034%',
 '186  French Polynesia  282,465  0.23%  658  77  3,660  â\x88\x921,199  1.48  36.1  65.9%  0.0034%',
 '187  Sao Tome & Principe  240,254  2%  4,718  250  960  â\x88\x92650  3.53  19.5  78.2%  0.0029%',
 '188  Samoa  219,306  0.59%  1,287  77  2,830  â\x88\x922,815  3.75  19.8  16.3%  0.0027%',
 '189  CuraÃ§ao  185,487  0%  5  418  444  470  1.07  38.7  80.8%  0.0023%',
 '190  Saint Lucia  180,149  0.23%  405  295  610  â\x88\x9223  1.38  34.6  19.9%  0.0022%',
 '191  Guam  168,999  0.73%  1,222  313  540  â\x88\x92493  2.71  31.5  98.8%  0.0021%',
 '192  Kiribati  136,488  1.46%  1,970  169  810  â\x88\x92462  3.09  22.9  57.3%  0.0017%',
 '193  Seychelles  132,779  1.81%  2,361  289  460  1,590  2.08  34.3  43.8%  0.0016%',
 '194  Grenada  117,303  0.08%  96  345  340  â\x88\x92185  1.46  34.4  35.5%  0.0014%',
 '195  Micronesia  113,683  0.46%  523  162  700  â\x88\x921,125  2.71  23.3  23.5%  0.0014%',
 '196  Aruba  108,147  0.07%  81  601  180  111  1.6  41.5  44.7%  0.0013%',
 '197  Tonga  103,742  â\x88\x920.42%  â\x88\x92433  144  720  â\x88\x922,150  3.07  20.8  26%  0.0013%',
 '198  St. Vincent & Grenadines  99,924  â\x88\x920.69%  â\x88\x92692  256  390  â\x88\x92714  1.75  34.4  61.6%  0.0012%',
 '199  Antigua and Barbuda  94,209  0.47%  437  214  440  12  1.58  36.3  28.5%  0.0011%',

In [8]:
import pandas as pd
df = pd.DataFrame(columns = filtered_titles)
df

Empty DataFrame
Columns: [Country (or dependency), Population 2025, Yearly Change, Net Change, Density (P/KmÂ²), Land Area (KmÂ²), Migrants (net), Fert. Rate, Median Age, Urban Pop %, World Share]
Index: []

In [14]:
idx=0
df.insert(loc=idx, column='A', value='new_col')

In [15]:

for ro in rows:
    cells = ro.find_all('td')
    row_data = [cell.text.strip() for cell in cells]

    # Adding to the DataFrame
    df.loc[len(df)] = row_data

print(df)

       A Country (or dependency) Population 2025 Yearly Change    Net Change  \
0      1                   India   1,463,865,525         0.89%    12,929,734
1      2                   China   1,416,096,094      â0.23%  â3,225,184
2      3           United States     347,275,807         0.54%     1,849,236
3      4               Indonesia     285,721,236         0.79%     2,233,305
4      5                Pakistan     255,219,554         1.57%     3,950,390
..   ...                     ...             ...           ...           ...
228  229              Montserrat           4,359      â0.68%         â30
229  230        Falkland Islands           3,469      â0.03%          â1
230  231                 Tokelau           2,608         4.07%           102
231  232                    Niue           1,821         0.11%             2
232  233                Holy See             501         1.01%             5

    Density (P/KmÂ²) Land Area (KmÂ²) Migrants (net) Fert. Rate Median Age  \
0                492        2,973,190     â495,753       1.94       28.8
1                151        9,388,211     â268,126       1.02       40.1
2                 38        9,147,420      1,230,663       1.62       38.5
3                158        1,811,570      â39,509        2.1       30.4
4                331          770,880   â1,235,336        3.5       20.6
..               ...              ...            ...        ...        ...
228               44              100           â9       1.45       41.6
229                0           12,170          â17        1.7       42.8
230              261               10             53       2.57       27.3
231                7              260              3       2.46       35.7
232            1,253                0             13          1       57.4

    Urban Pop % World Share
0         37.1%      17.78%
1         67.5%      17.20%
2         82.8%       4.22%
3         59.6%       3.47%
4         34.4%       3.10%
..          ...         ...
228       11.5%   0.000053%
229         68%   0.000042%
230               0.000032%
231       44.5%   0.000022%
232              0.0000061%

[233 rows x 12 columns]

In [16]:
df.head(4)

,A,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","â495,753",1.94,28.8,37.1%,17.78%
1,2,China,"1,416,096,094",â0.23%,"â3,225,184",151,"9,388,211","â268,126",1.02,40.1,67.5%,17.20%
2,3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
3,4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","â39,509",2.1,30.4,59.6%,3.47%

In [17]:
df.drop('A', axis=1, inplace=True)
df

,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","â495,753",1.94,28.8,37.1%,17.78%
1,China,"1,416,096,094",â0.23%,"â3,225,184",151,"9,388,211","â268,126",1.02,40.1,67.5%,17.20%
2,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
3,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","â39,509",2.1,30.4,59.6%,3.47%
4,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","â1,235,336",3.5,20.6,34.4%,3.10%
...,...,...,...,...,...,...,...,...,...,...,...
228,Montserrat,"4,359",â0.68%,â30,44,100,â9,1.45,41.6,11.5%,0.000053%
229,Falkland Islands,"3,469",â0.03%,â1,0,"12,170",â17,1.7,42.8,68%,0.000042%
230,Tokelau,"2,608",4.07%,102,261,10,53,2.57,27.3,,0.000032%
231,Niue,"1,821",0.11%,2,7,260,3,2.46,35.7,44.5%,0.000022%
232,Holy See,501,1.01%,5,"1,253",0,13,1,57.4,,0.0000061%

In [119]:
df.to_csv('Countries in the world by population (2025).csv', index=False)